*{
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    border: 1px solid black;
    padding: 5rem;
    
}
.head{
    text-align: center;
}

.body{
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
}