* {
    margin: 0%;
    padding: 0%;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(41, 240, 91, 0.623) 0%, rgba(37,146,187,1) 100%);
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border: 1px solid rgb(70, 58, 58);
    border-radius: 0.3rem;
    padding: 5rem 6.5rem;
    box-shadow: 2px 4px 5px black;
    background: linear-gradient(90deg, rgba(29,67,83,1) 0%, rgba(8,83,111,1) 100%);
    color: white;
    height: 300px;
  }
  input{
    width: 15rem;
    border-radius: 0.4rem ;

  }
  h1{
    margin-bottom: 2rem;
    color: orangered;
    font-family: "Rubik Glitch";
    text-shadow: 0px 5px 5px white;
  }
  label{
    font-size: 1.2rem;
  }
  form input,
  button {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid gray;
  }
  input::placeholder{
    font-size: 1rem;
  }
  input:focus {
    outline: gray;
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.534);
  }
  button:active {
    box-shadow: 0.5px 0.5px 5px rgb(2, 2, 2);
  }
  .labeldiv {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }
  button{
    background: #c88f16;
    text-shadow: 3px 5px 5px black;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 700;
  }
  #nameerrormsg,#passworderrormsg{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 0px 0px 1px rgb(10, 10, 10);
  }
  @media only screen  and (max-width:524px){
    form{padding: 2rem 1.3rem;}
  }